RibbonFactory/RibbonX.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://schemas.microsoft.com/office/2009/07/customui" xmlns="http://schemas.microsoft.com/office/2009/07/customui" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xsd:simpleType name="ST_QID">
     <xsd:restriction base="xsd:QName">
       <xsd:minLength value="1"/>
       <xsd:maxLength value="1024"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_ID">
     <xsd:restriction base="xsd:NCName">
       <xsd:minLength value="1"/>
       <xsd:maxLength value="1024"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_UniqueID">
     <xsd:restriction base="xsd:ID">
       <xsd:minLength value="1"/>
       <xsd:maxLength value="1024"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_Delegate">
     <xsd:restriction base="xsd:string">
       <xsd:minLength value="1"/>
       <xsd:maxLength value="1024"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_StringLength">
     <xsd:restriction base="xsd:positiveInteger">
       <xsd:minInclusive value="1"/>
       <xsd:maxInclusive value="1024"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_GalleryRowColumnCount">
     <xsd:restriction base="xsd:positiveInteger">
       <xsd:minInclusive value="1"/>
       <xsd:maxInclusive value="1024"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_GalleryItemWidthHeight">
     <xsd:restriction base="xsd:positiveInteger">
       <xsd:minInclusive value="1"/>
       <xsd:maxInclusive value="4096"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_GalleryShowInRibbon">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="false"/>
       <xsd:enumeration value="0"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_String">
     <xsd:restriction base="xsd:string">
       <xsd:minLength value="1"/>
       <xsd:maxLength value="1024"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_LongString">
     <xsd:restriction base="xsd:string">
       <xsd:minLength value="1"/>
       <xsd:maxLength value="4096"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_Uri">
     <xsd:restriction base="xsd:string">
       <xsd:minLength value="1"/>
       <xsd:maxLength value="1024"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_Size">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="normal"/>
       <xsd:enumeration value="large"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_ItemSize">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="normal"/>
       <xsd:enumeration value="large"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_BoxStyle">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="horizontal"/>
       <xsd:enumeration value="vertical"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_Keytip">
     <xsd:restriction base="xsd:token">
       <xsd:minLength value="1"/>
       <xsd:maxLength value="3"/>
       <xsd:whiteSpace value="collapse"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_TaskSizes">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="largeMediumSmall"/>
       <xsd:enumeration value="largeMedium"/>
       <xsd:enumeration value="large"/>
       <xsd:enumeration value="mediumSmall"/>
       <xsd:enumeration value="medium"/>
       <xsd:enumeration value="small"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:attributeGroup name="AG_IDCustom">
     <xsd:attribute name="id" type="ST_UniqueID" use="optional"/>
     <xsd:attribute name="idQ" type="ST_QID" use="optional"/>
     <xsd:attribute name="tag" type="ST_String" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_IDMso">
     <xsd:attribute name="idMso" type="ST_ID" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Title">
     <xsd:attribute name="title" type="ST_String" use="optional"/>
     <xsd:attribute name="getTitle" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_IDAttributes">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_IDMso"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Image">
     <xsd:attribute name="image" type="ST_Uri" use="optional"/>
     <xsd:attribute name="imageMso" type="ST_ID" use="optional"/>
     <xsd:attribute name="getImage" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_CommonAttributes">
     <xsd:attributeGroup ref="AG_Enabled"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_PositionAttributes">
     <xsd:attribute name="insertAfterMso" type="ST_ID" use="optional"/>
     <xsd:attribute name="insertBeforeMso" type="ST_ID" use="optional"/>
     <xsd:attribute name="insertAfterQ" type="ST_QID" use="optional"/>
     <xsd:attribute name="insertBeforeQ" type="ST_QID" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Enabled">
     <xsd:attribute name="enabled" type="xsd:boolean" use="optional"/>
     <xsd:attribute name="getEnabled" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Visible">
     <xsd:attribute name="visible" type="xsd:boolean" use="optional"/>
     <xsd:attribute name="getVisible" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Label">
     <xsd:attribute name="label" type="ST_String" use="optional"/>
     <xsd:attribute name="getLabel" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Keytip">
     <xsd:attribute name="keytip" type="ST_Keytip" use="optional"/>
     <xsd:attribute name="getKeytip" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Screentip">
     <xsd:attribute name="screentip" type="ST_String" use="optional"/>
     <xsd:attribute name="getScreentip" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="supertip" type="ST_String" use="optional"/>
     <xsd:attribute name="getSupertip" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Description">
     <xsd:attribute name="description" type="ST_LongString" use="optional"/>
     <xsd:attribute name="getDescription" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_AltText">
     <xsd:attribute name="altText" type="ST_LongString" use="optional"/>
     <xsd:attribute name="getAltText" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_ShowLabel">
     <xsd:attribute name="showLabel" type="xsd:boolean" use="optional"/>
     <xsd:attribute name="getShowLabel" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_HelperText">
     <xsd:attribute name="helperText" type="ST_LongString" use="optional"/>
     <xsd:attribute name="getHelperText" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_UIAttributes">
     <xsd:attributeGroup ref="AG_CommonAttributes"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_ItemAttributes">
     <xsd:attributeGroup ref="AG_Image"/>
     <xsd:attributeGroup ref="AG_Screentip"/>
     <xsd:attributeGroup ref="AG_UIAttributes"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_ControlAttributes">
     <xsd:attributeGroup ref="AG_ItemAttributes"/>
     <xsd:attributeGroup ref="AG_ShowLabel"/>
     <xsd:attribute name="showImage" type="xsd:boolean" use="optional"/>
     <xsd:attribute name="getShowImage" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Action">
     <xsd:attribute name="onAction" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Pressed">
     <xsd:attribute name="getPressed" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_Definitive">
     <xsd:attribute name="isDefinitive" type="xsd:boolean" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_SizeAttributes">
     <xsd:attribute name="size" type="ST_Size" use="optional"/>
     <xsd:attribute name="getSize" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_DropDownAttributes">
     <xsd:attribute name="showItemImage" type="xsd:boolean" use="optional"/>
     <xsd:attribute name="getItemCount" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemLabel" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemScreentip" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemSupertip" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemImage" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemID" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="sizeString" type="ST_String" use="optional"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_GetContentAttributes">
     <xsd:attribute name="getContent" type="ST_Delegate" use="required"/>
   </xsd:attributeGroup>
   <xsd:attributeGroup name="AG_DynamicContentAttributes">
     <xsd:attribute name="invalidateContentOnDrop" type="xsd:boolean" use="optional"/>
   </xsd:attributeGroup>
   <xsd:simpleType name="ST_alignLabel">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="topLeft"/>
       <xsd:enumeration value="top"/>
       <xsd:enumeration value="topRight"/>
       <xsd:enumeration value="left"/>
       <xsd:enumeration value="center"/>
       <xsd:enumeration value="right"/>
       <xsd:enumeration value="bottomLeft"/>
       <xsd:enumeration value="bottom"/>
       <xsd:enumeration value="bottomRight"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:attributeGroup name="AG_AlignAttributes">
     <xsd:attribute name="alignLabel" use="optional" type="ST_alignLabel"/>
   </xsd:attributeGroup>
   <xsd:simpleType name="ST_expand">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="horizontal"/>
       <xsd:enumeration value="vertical"/>
       <xsd:enumeration value="both"/>
       <xsd:enumeration value="neither"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:attributeGroup name="AG_Expand">
     <xsd:attribute name="expand" use="optional" type="ST_expand"/>
   </xsd:attributeGroup>
   <xsd:simpleType name="ST_style">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="normal"/>
       <xsd:enumeration value="warning"/>
       <xsd:enumeration value="error"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:attributeGroup name="AG_GroupStyle">
     <xsd:attribute name="style" use="optional" type="ST_style"/>
     <xsd:attribute name="getStyle" type="ST_Delegate" use="optional"/>
   </xsd:attributeGroup>
   <xsd:simpleType name="ST_style1">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="normal"/>
       <xsd:enumeration value="borderless"/>
       <xsd:enumeration value="large"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:attributeGroup name="AG_ButtonStyle">
     <xsd:attribute name="style" use="optional" type="ST_style1"/>
   </xsd:attributeGroup>
   <xsd:complexType name="CT_Command" mixed="false">
     <xsd:attributeGroup ref="AG_Action"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_IDMso"/>
   </xsd:complexType>
   <xsd:complexType name="CT_ControlBase">
     <xsd:attributeGroup ref="AG_ControlAttributes"/>
   </xsd:complexType>
   <xsd:complexType name="CT_Control">
     <xsd:complexContent>
       <xsd:extension base="CT_ControlBase">
         <xsd:attributeGroup ref="AG_IDAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_ControlCloneRegular">
     <xsd:complexContent>
       <xsd:restriction base="CT_Control">
         <xsd:attribute name="id" use="prohibited"/>
       </xsd:restriction>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_ControlClone">
     <xsd:complexContent>
       <xsd:restriction base="CT_Button">
         <xsd:attribute name="id" use="prohibited"/>
         <xsd:attribute name="onAction" use="prohibited"/>
       </xsd:restriction>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_ControlCloneQat">
     <xsd:complexContent>
       <xsd:extension base="CT_ControlBase">
         <xsd:attribute name="id" type="ST_ID" use="optional"/>
         <xsd:attribute name="idQ" type="ST_QID" use="optional"/>
         <xsd:attributeGroup ref="AG_IDMso"/>
         <xsd:attributeGroup ref="AG_Description"/>
         <xsd:attributeGroup ref="AG_SizeAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_LabelControl">
     <xsd:complexContent>
       <xsd:restriction base="CT_Control">
         <xsd:attribute name="image" use="prohibited"/>
         <xsd:attribute name="imageMso" use="prohibited"/>
         <xsd:attribute name="getImage" use="prohibited"/>
         <xsd:attribute name="keytip" use="prohibited"/>
         <xsd:attribute name="getKeytip" use="prohibited"/>
         <xsd:attribute name="showImage" use="prohibited"/>
         <xsd:attribute name="getShowImage" use="prohibited"/>
       </xsd:restriction>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_ButtonRegular">
     <xsd:complexContent>
       <xsd:extension base="CT_Control">
         <xsd:attributeGroup ref="AG_Action"/>
         <xsd:attributeGroup ref="AG_Enabled"/>
         <xsd:attributeGroup ref="AG_Description"/>
         <xsd:attributeGroup ref="AG_Image"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Button">
     <xsd:complexContent>
       <xsd:extension base="CT_ButtonRegular">
         <xsd:attributeGroup ref="AG_SizeAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_VisibleButton">
     <xsd:complexContent>
       <xsd:restriction base="CT_ButtonRegular">
         <xsd:attribute name="visible" use="prohibited"/>
         <xsd:attribute name="getVisible" use="prohibited"/>
       </xsd:restriction>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_ToggleButtonRegular">
     <xsd:complexContent>
       <xsd:extension base="CT_ButtonRegular">
         <xsd:attributeGroup ref="AG_Pressed"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_ToggleButton">
     <xsd:complexContent>
       <xsd:extension base="CT_ToggleButtonRegular">
         <xsd:attributeGroup ref="AG_SizeAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_VisibleToggleButton">
     <xsd:complexContent>
       <xsd:restriction base="CT_ToggleButtonRegular">
         <xsd:attribute name="visible" use="prohibited"/>
         <xsd:attribute name="getVisible" use="prohibited"/>
       </xsd:restriction>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_CheckBox">
     <xsd:complexContent>
       <xsd:restriction base="CT_ToggleButtonRegular">
         <xsd:attribute name="image" use="prohibited"/>
         <xsd:attribute name="imageMso" use="prohibited"/>
         <xsd:attribute name="getImage" use="prohibited"/>
         <xsd:attribute name="showImage" use="prohibited"/>
         <xsd:attribute name="getShowImage" use="prohibited"/>
         <xsd:attribute name="showLabel" use="prohibited"/>
         <xsd:attribute name="getShowLabel" use="prohibited"/>
       </xsd:restriction>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_EditBox">
     <xsd:complexContent>
       <xsd:extension base="CT_Control">
         <xsd:attributeGroup ref="AG_Enabled"/>
         <xsd:attributeGroup ref="AG_Image"/>
         <xsd:attribute name="maxLength" type="ST_StringLength" use="optional"/>
         <xsd:attribute name="getText" type="ST_Delegate" use="optional"/>
         <xsd:attribute name="onChange" type="ST_Delegate" use="optional"/>
         <xsd:attribute name="sizeString" type="ST_String" use="optional"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Item">
     <xsd:attribute name="id" type="ST_UniqueID" use="optional"/>
     <xsd:attribute name="label" type="ST_String" use="optional"/>
     <xsd:attribute name="image" type="ST_Uri" use="optional"/>
     <xsd:attribute name="imageMso" type="ST_ID" use="optional"/>
     <xsd:attribute name="screentip" type="ST_String" use="optional"/>
     <xsd:attribute name="supertip" type="ST_String" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_ComboBox">
     <xsd:complexContent>
       <xsd:extension base="CT_EditBox">
         <xsd:sequence>
           <xsd:element name="item" type="CT_Item" minOccurs="0" maxOccurs="1000"/>
         </xsd:sequence>
         <xsd:attributeGroup ref="AG_DropDownAttributes"/>
         <xsd:attributeGroup ref="AG_DynamicContentAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_DropDownRegular">
     <xsd:complexContent>
       <xsd:extension base="CT_Control">
         <xsd:sequence>
           <xsd:element name="item" type="CT_Item" minOccurs="0" maxOccurs="1000"/>
           <xsd:element name="button" type="CT_ButtonRegular" minOccurs="0" maxOccurs="16"/>
         </xsd:sequence>
         <xsd:attributeGroup ref="AG_Action"/>
         <xsd:attributeGroup ref="AG_Enabled"/>
         <xsd:attributeGroup ref="AG_Image"/>
         <xsd:attributeGroup ref="AG_DropDownAttributes"/>
         <xsd:attribute name="getSelectedItemID" type="ST_Delegate" use="optional"/>
         <xsd:attribute name="getSelectedItemIndex" type="ST_Delegate" use="optional"/>
         <xsd:attribute name="showItemLabel" type="xsd:boolean" use="optional"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_GalleryRegular">
     <xsd:complexContent>
       <xsd:extension base="CT_DropDownRegular">
         <xsd:attributeGroup ref="AG_Description"/>
         <xsd:attributeGroup ref="AG_DynamicContentAttributes"/>
         <xsd:attribute name="columns" type="ST_GalleryRowColumnCount" use="optional"/>
         <xsd:attribute name="rows" type="ST_GalleryRowColumnCount" use="optional"/>
         <xsd:attribute name="itemWidth" type="ST_GalleryItemWidthHeight" use="optional"/>
         <xsd:attribute name="itemHeight" type="ST_GalleryItemWidthHeight" use="optional"/>
         <xsd:attribute name="getItemWidth" type="ST_Delegate" use="optional"/>
         <xsd:attribute name="getItemHeight" type="ST_Delegate" use="optional"/>
         <xsd:attribute name="showItemLabel" type="xsd:boolean" use="optional"/>
         <xsd:attribute name="showInRibbon" type="ST_GalleryShowInRibbon" use="optional"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Gallery">
     <xsd:complexContent>
       <xsd:extension base="CT_GalleryRegular">
         <xsd:attributeGroup ref="AG_SizeAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:group name="EG_MenuControlsBase">
     <xsd:choice>
       <xsd:element name="control" type="CT_ControlCloneRegular"/>
       <xsd:element name="button" type="CT_ButtonRegular"/>
       <xsd:element name="checkBox" type="CT_CheckBox"/>
       <xsd:element name="gallery" type="CT_GalleryRegular"/>
       <xsd:element name="toggleButton" type="CT_ToggleButtonRegular"/>
       <xsd:element name="menuSeparator" type="CT_MenuSeparator"/>
     </xsd:choice>
   </xsd:group>
   <xsd:group name="EG_MenuOrSplitButtonRegular">
     <xsd:choice>
       <xsd:element name="splitButton" type="CT_SplitButtonRegular"/>
       <xsd:element name="menu" type="CT_MenuRegular"/>
       <xsd:element name="dynamicMenu" type="CT_DynamicMenuRegular"/>
     </xsd:choice>
   </xsd:group>
   <xsd:group name="EG_MenuOrSplitButtonWithTitle">
     <xsd:choice>
       <xsd:element name="splitButton" type="CT_SplitButtonWithTitle"/>
       <xsd:element name="menu" type="CT_MenuWithTitle"/>
       <xsd:element name="dynamicMenu" type="CT_DynamicMenuRegular"/>
     </xsd:choice>
   </xsd:group>
   <xsd:group name="EG_ContextMenuControls">
     <xsd:choice>
       <xsd:element name="control" type="CT_ControlCloneRegular"/>
       <xsd:element name="button" type="CT_ButtonRegular"/>
       <xsd:element name="checkBox" type="CT_CheckBox"/>
       <xsd:element name="gallery" type="CT_GalleryRegular"/>
       <xsd:element name="toggleButton" type="CT_ToggleButtonRegular"/>
       <xsd:element name="splitButton" type="CT_SplitButtonRegular"/>
       <xsd:element name="menu" type="CT_MenuRegular"/>
       <xsd:element name="dynamicMenu" type="CT_DynamicMenuRegular"/>
       <xsd:element name="menuSeparator" type="CT_MenuSeparatorNoTitle"/>
     </xsd:choice>
   </xsd:group>
   <xsd:complexType name="CT_MenuRegular">
     <xsd:complexContent>
       <xsd:extension base="CT_ControlBase">
         <xsd:sequence>
           <xsd:choice minOccurs="0" maxOccurs="1000">
             <xsd:group ref="EG_MenuControlsBase"/>
             <xsd:group ref="EG_MenuOrSplitButtonRegular"/>
           </xsd:choice>
         </xsd:sequence>
         <xsd:attribute name="itemSize" type="ST_ItemSize" use="optional"/>
         <xsd:attributeGroup ref="AG_Description"/>
         <xsd:attributeGroup ref="AG_IDAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_DynamicMenuRegular">
     <xsd:complexContent>
       <xsd:extension base="CT_ControlBase">
         <xsd:attributeGroup ref="AG_Description"/>
         <xsd:attributeGroup ref="AG_IDAttributes"/>
         <xsd:attributeGroup ref="AG_GetContentAttributes"/>
         <xsd:attributeGroup ref="AG_DynamicContentAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_MenuWithTitle">
     <xsd:complexContent>
       <xsd:extension base="CT_ControlBase">
         <xsd:sequence>
           <xsd:choice minOccurs="0" maxOccurs="1000">
             <xsd:group ref="EG_MenuControlsBase"/>
             <xsd:group ref="EG_MenuOrSplitButtonWithTitle"/>
           </xsd:choice>
         </xsd:sequence>
         <xsd:attributeGroup ref="AG_IDAttributes"/>
         <xsd:attribute name="itemSize" type="ST_ItemSize" use="optional"/>
         <xsd:attributeGroup ref="AG_Title"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Menu">
     <xsd:complexContent>
       <xsd:extension base="CT_MenuRegular">
         <xsd:attributeGroup ref="AG_SizeAttributes"/>
         <xsd:attribute name="itemSize" type="ST_ItemSize" use="optional"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_DynamicMenu">
     <xsd:complexContent>
       <xsd:extension base="CT_DynamicMenuRegular">
         <xsd:attributeGroup ref="AG_SizeAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_SplitButtonBase">
     <xsd:complexContent>
       <xsd:extension base="CT_Control">
         <xsd:attributeGroup ref="AG_Enabled"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_SplitButtonRestricted">
     <xsd:complexContent>
       <xsd:restriction base="CT_SplitButtonBase">
         <xsd:attribute name="label" use="prohibited"/>
         <xsd:attribute name="getLabel" use="prohibited"/>
         <xsd:attribute name="screentip" use="prohibited"/>
         <xsd:attribute name="getScreentip" use="prohibited"/>
         <xsd:attribute name="supertip" use="prohibited"/>
         <xsd:attribute name="getSupertip" use="prohibited"/>
         <xsd:attribute name="image" use="prohibited"/>
         <xsd:attribute name="imageMso" use="prohibited"/>
         <xsd:attribute name="getImage" use="prohibited"/>
         <xsd:attribute name="showImage" use="prohibited"/>
         <xsd:attribute name="getShowImage" use="prohibited"/>
       </xsd:restriction>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_SplitButtonRegular">
     <xsd:complexContent>
       <xsd:extension base="CT_SplitButtonRestricted">
         <xsd:sequence minOccurs="0">
           <xsd:choice minOccurs="0">
             <xsd:element name="button" type="CT_VisibleButton"/>
             <xsd:element name="toggleButton" type="CT_VisibleToggleButton"/>
           </xsd:choice>
           <xsd:element name="menu" type="CT_MenuRegular"/>
         </xsd:sequence>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_SplitButtonWithTitle">
     <xsd:complexContent>
       <xsd:extension base="CT_SplitButtonRestricted">
         <xsd:sequence minOccurs="0">
           <xsd:choice minOccurs="0">
             <xsd:element name="button" type="CT_VisibleButton"/>
             <xsd:element name="toggleButton" type="CT_VisibleToggleButton"/>
           </xsd:choice>
           <xsd:element name="menu" type="CT_MenuWithTitle"/>
         </xsd:sequence>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_SplitButton">
     <xsd:complexContent>
       <xsd:extension base="CT_SplitButtonRegular">
         <xsd:attributeGroup ref="AG_SizeAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:group name="EG_Controls">
     <xsd:choice>
       <xsd:element name="control" type="CT_ControlClone"/>
       <xsd:element name="labelControl" type="CT_LabelControl"/>
       <xsd:element name="button" type="CT_Button"/>
       <xsd:element name="toggleButton" type="CT_ToggleButton"/>
       <xsd:element name="checkBox" type="CT_CheckBox"/>
       <xsd:element name="editBox" type="CT_EditBox"/>
       <xsd:element name="comboBox" type="CT_ComboBox"/>
       <xsd:element name="dropDown" type="CT_DropDownRegular"/>
       <xsd:element name="gallery" type="CT_Gallery"/>
       <xsd:element name="menu" type="CT_Menu"/>
       <xsd:element name="dynamicMenu" type="CT_DynamicMenu"/>
       <xsd:element name="splitButton" type="CT_SplitButton"/>
       <xsd:element name="box" type="CT_Box"/>
       <xsd:element name="buttonGroup" type="CT_ButtonGroup"/>
     </xsd:choice>
   </xsd:group>
   <xsd:complexType name="CT_DialogLauncher">
     <xsd:sequence>
       <xsd:element name="button" type="CT_ButtonRegular" minOccurs="1" maxOccurs="1"/>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CT_Box">
     <xsd:group ref="EG_Controls" minOccurs="0" maxOccurs="1000"/>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attribute name="boxStyle" type="ST_BoxStyle" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_Separator">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
   </xsd:complexType>
   <xsd:complexType name="CT_MenuSeparator">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Title"/>
   </xsd:complexType>
   <xsd:complexType name="CT_MenuSeparatorNoTitle">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
   </xsd:complexType>
   <xsd:complexType name="CT_ButtonGroup">
     <xsd:sequence>
       <xsd:choice minOccurs="0" maxOccurs="1000">
         <xsd:element name="control" type="CT_ControlCloneRegular"/>
         <xsd:element name="button" type="CT_ButtonRegular"/>
         <xsd:element name="toggleButton" type="CT_ToggleButtonRegular"/>
         <xsd:element name="gallery" type="CT_GalleryRegular"/>
         <xsd:element name="menu" type="CT_MenuRegular"/>
         <xsd:element name="dynamicMenu" type="CT_DynamicMenuRegular"/>
         <xsd:element name="splitButton" type="CT_SplitButtonRegular"/>
         <xsd:element name="separator" type="CT_Separator"/>
       </xsd:choice>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
   </xsd:complexType>
   <xsd:complexType name="CT_Group">
     <xsd:sequence>
       <xsd:sequence>
         <xsd:choice minOccurs="0" maxOccurs="1000">
           <xsd:group ref="EG_Controls"/>
           <xsd:element name="separator" type="CT_Separator"/>
         </xsd:choice>
       </xsd:sequence>
       <xsd:element name="dialogBoxLauncher" type="CT_DialogLauncher" minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Image"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Screentip"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
     <xsd:attribute name="autoScale" type="xsd:boolean" use="optional"/>
     <xsd:attribute name="centerVertically" type="xsd:boolean" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_Tab">
     <xsd:sequence>
       <xsd:choice minOccurs="0" maxOccurs="100">
         <xsd:element name="group" type="CT_Group"/>
       </xsd:choice>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
   </xsd:complexType>
   <xsd:complexType name="CT_QatItems">
     <xsd:sequence>
       <xsd:choice minOccurs="0" maxOccurs="1000">
         <xsd:element name="control" type="CT_ControlCloneQat"/>
         <xsd:element name="button" type="CT_ButtonRegular"/>
         <xsd:element name="separator" type="CT_Separator"/>
       </xsd:choice>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CT_Qat">
     <xsd:sequence>
       <xsd:element name="sharedControls" type="CT_QatItems" minOccurs="0"/>
       <xsd:element name="documentControls" type="CT_QatItems" minOccurs="0"/>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CT_Tabs">
     <xsd:sequence>
       <xsd:element name="tab" type="CT_Tab" minOccurs="1" maxOccurs="100"/>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CT_TabSet">
     <xsd:sequence>
       <xsd:element name="tab" type="CT_Tab" minOccurs="0" maxOccurs="50"/>
     </xsd:sequence>
     <xsd:attribute name="idMso" type="ST_ID" use="required"/>
     <xsd:attributeGroup ref="AG_Visible"/>
   </xsd:complexType>
   <xsd:complexType name="CT_ContextualTabs">
     <xsd:sequence>
       <xsd:element name="tabSet" type="CT_TabSet" minOccurs="1" maxOccurs="100"/>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CT_ContextMenu">
     <xsd:sequence>
       <xsd:choice minOccurs="0" maxOccurs="1000">
         <xsd:group ref="EG_ContextMenuControls"/>
       </xsd:choice>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDMso"/>
   </xsd:complexType>
   <xsd:complexType name="CT_Commands">
     <xsd:sequence>
       <xsd:element name="command" type="CT_Command" minOccurs="1" maxOccurs="5000"/>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CT_Ribbon">
     <xsd:all>
       <xsd:element name="qat" type="CT_Qat" minOccurs="0" maxOccurs="1">
         <xsd:unique name="qatControls">
           <xsd:selector xpath="*/*"/>
           <xsd:field xpath="@id"/>
         </xsd:unique>
       </xsd:element>
       <xsd:element name="tabs" type="CT_Tabs" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="contextualTabs" type="CT_ContextualTabs" minOccurs="0" maxOccurs="1"/>
     </xsd:all>
     <xsd:attribute name="startFromScratch" type="xsd:boolean" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_ContextMenus">
     <xsd:sequence>
       <xsd:element name="contextMenu" type="CT_ContextMenu" minOccurs="1" maxOccurs="1000"/>
     </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CT_MenuRoot">
     <xsd:sequence>
       <xsd:choice minOccurs="0" maxOccurs="1000">
         <xsd:group ref="EG_MenuControlsBase"/>
         <xsd:group ref="EG_MenuOrSplitButtonRegular"/>
       </xsd:choice>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_Title"/>
     <xsd:attribute name="itemSize" type="ST_ItemSize" use="optional"/>
   </xsd:complexType>
   <xsd:element name="menu" type="CT_MenuRoot"/>
   <xsd:complexType name="CT_BackstageButtonBase">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_Action"/>
     <xsd:attributeGroup ref="AG_Definitive"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
     <xsd:attributeGroup ref="AG_Image"/>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageRegularButton">
     <xsd:complexContent>
       <xsd:extension base="CT_BackstageButtonBase">
         <xsd:attributeGroup ref="AG_Screentip"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageGroupButton">
     <xsd:complexContent>
       <xsd:extension base="CT_BackstageRegularButton">
         <xsd:attributeGroup ref="AG_Expand"/>
         <xsd:attributeGroup ref="AG_ButtonStyle"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageMenuButton">
     <xsd:complexContent>
       <xsd:extension base="CT_BackstageButtonBase">
         <xsd:attributeGroup ref="AG_Description"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageFastCommandButton">
     <xsd:complexContent>
       <xsd:extension base="CT_BackstageButtonBase">
         <xsd:attributeGroup ref="AG_IDMso"/>
         <xsd:attributeGroup ref="AG_PositionAttributes"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageCheckBoxBase">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_Action"/>
     <xsd:attributeGroup ref="AG_Pressed"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageCheckBox">
     <xsd:complexContent>
       <xsd:extension base="CT_BackstageCheckBoxBase">
         <xsd:attributeGroup ref="AG_Expand"/>
         <xsd:attributeGroup ref="AG_Description"/>
         <xsd:attributeGroup ref="AG_Screentip"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageMenuCheckBox">
     <xsd:complexContent>
       <xsd:extension base="CT_BackstageCheckBoxBase">
         <xsd:attributeGroup ref="AG_Description"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageMenuToggleButton">
     <xsd:complexContent>
       <xsd:extension base="CT_BackstageMenuCheckBox">
         <xsd:attributeGroup ref="AG_Image"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageEditBox">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_AlignAttributes"/>
     <xsd:attributeGroup ref="AG_Expand"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
     <xsd:attribute name="getText" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="onChange" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="maxLength" type="ST_StringLength" use="optional"/>
     <xsd:attribute name="sizeString" type="ST_String" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageDropDown">
     <xsd:sequence>
       <xsd:element name="item" type="CT_BackstageItem" minOccurs="0" maxOccurs="1000"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_AlignAttributes"/>
     <xsd:attributeGroup ref="AG_Expand"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Action"/>
     <xsd:attributeGroup ref="AG_Screentip"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
     <xsd:attribute name="getSelectedItemIndex" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="sizeString" type="ST_String" use="optional"/>
     <xsd:attribute name="getItemCount" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemLabel" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemID" type="ST_Delegate" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_RadioGroup">
     <xsd:sequence>
       <xsd:element name="radioButton" type="CT_BackstageItem" minOccurs="0" maxOccurs="1000"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_AlignAttributes"/>
     <xsd:attributeGroup ref="AG_Expand"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Action"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
     <xsd:attribute name="getSelectedItemIndex" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemCount" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemLabel" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemID" type="ST_Delegate" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageComboBox">
     <xsd:sequence>
       <xsd:element name="item" type="CT_BackstageItem" minOccurs="0" maxOccurs="1000"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_AlignAttributes"/>
     <xsd:attributeGroup ref="AG_Expand"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
     <xsd:attribute name="getText" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="onChange" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="sizeString" type="ST_String" use="optional"/>
     <xsd:attribute name="getItemCount" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemLabel" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="getItemID" type="ST_Delegate" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageItem">
     <xsd:attribute name="id" type="ST_UniqueID" use="optional"/>
     <xsd:attributeGroup ref="AG_Label"/>
   </xsd:complexType>
   <xsd:complexType name="CT_Hyperlink">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_AlignAttributes"/>
     <xsd:attributeGroup ref="AG_Expand"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Action"/>
     <xsd:attributeGroup ref="AG_Image"/>
     <xsd:attributeGroup ref="AG_Screentip"/>
     <xsd:attribute name="target" type="ST_String" use="optional"/>
     <xsd:attribute name="getTarget" type="ST_Delegate" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageLabelControl">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_AlignAttributes"/>
     <xsd:attributeGroup ref="AG_Expand"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attribute name="noWrap" type="xsd:boolean" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_PrimaryItem">
     <xsd:choice minOccurs="1" maxOccurs="1">
       <xsd:element name="button" type="CT_BackstageRegularButton" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="menu" type="CT_BackstagePrimaryMenu" minOccurs="0" maxOccurs="1"/>
     </xsd:choice>
   </xsd:complexType>
   <xsd:group name="EG_BackstageMenuControls">
     <xsd:choice>
       <xsd:element name="button" type="CT_BackstageMenuButton"/>
       <xsd:element name="checkBox" type="CT_BackstageMenuCheckBox"/>
       <xsd:element name="menu" type="CT_BackstageSubMenu"/>
       <xsd:element name="toggleButton" type="CT_BackstageMenuToggleButton"/>
     </xsd:choice>
   </xsd:group>
   <xsd:complexType name="CT_BackstageMenuGroup">
     <xsd:sequence>
       <xsd:choice minOccurs="0" maxOccurs="1000">
         <xsd:group ref="EG_BackstageMenuControls"/>
       </xsd:choice>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attribute name="itemSize" type="ST_ItemSize" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageMenuBase">
     <xsd:sequence>
       <xsd:choice minOccurs="0" maxOccurs="1000">
         <xsd:element name="menuGroup" type="CT_BackstageMenuGroup"/>
       </xsd:choice>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Image"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstagePrimaryMenu">
     <xsd:complexContent>
       <xsd:extension base="CT_BackstageMenuBase">
         <xsd:attributeGroup ref="AG_Screentip"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageSubMenu">
     <xsd:complexContent>
       <xsd:extension base="CT_BackstageMenuBase">
         <xsd:attributeGroup ref="AG_Description"/>
       </xsd:extension>
     </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_ImageControl">
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Image"/>
     <xsd:attributeGroup ref="AG_AltText"/>
   </xsd:complexType>
   <xsd:complexType name="CT_GroupControls">
     <xsd:choice minOccurs="0" maxOccurs="1000">
       <xsd:group ref="EG_GroupControls" minOccurs="0" maxOccurs="1000"/>
     </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CT_BackstageGroup">
     <xsd:sequence>
       <xsd:choice minOccurs="0" maxOccurs="1">
         <xsd:element name="primaryItem" type="CT_PrimaryItem" minOccurs="0" maxOccurs="1"/>
       </xsd:choice>
       <xsd:element name="topItems" type="CT_GroupControls" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="bottomItems" type="CT_GroupControls" minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_GroupStyle"/>
     <xsd:attributeGroup ref="AG_HelperText"/>
     <xsd:attributeGroup ref="AG_ShowLabel"/>
   </xsd:complexType>
   <xsd:complexType name="CT_HeaderGroup">
     <xsd:sequence>
       <xsd:element name="button" type="CT_BackstageRegularButton" minOccurs="1" maxOccurs="100"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
   </xsd:complexType>
   <xsd:complexType name="CT_TaskGroup">
     <xsd:sequence>
       <xsd:element name="category" type="CT_TaskGroupCategory" minOccurs="0" maxOccurs="100"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_HelperText"/>
     <xsd:attributeGroup ref="AG_ShowLabel"/>
     <xsd:attribute name="allowedTaskSizes" type="ST_TaskSizes" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_TaskGroupCategory">
     <xsd:sequence>
       <xsd:element name="task" type="CT_TaskGroupTask" minOccurs="0" maxOccurs="1000"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Label"/>
   </xsd:complexType>
   <xsd:complexType name="CT_TaskGroupTask">
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Action"/>
     <xsd:attributeGroup ref="AG_Definitive"/>
     <xsd:attributeGroup ref="AG_Image"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Description"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
   </xsd:complexType>
   <xsd:complexType name="CT_TaskFormGroup">
     <xsd:sequence>
       <xsd:element name="category" type="CT_TaskFormGroupCategory" minOccurs="0" maxOccurs="100"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_HelperText"/>
     <xsd:attributeGroup ref="AG_ShowLabel"/>
     <xsd:attribute name="allowedTaskSizes" type="ST_TaskSizes" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_TaskFormGroupCategory">
     <xsd:sequence>
       <xsd:element name="task" type="CT_TaskFormGroupTask" minOccurs="0" maxOccurs="1000"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Label"/>
   </xsd:complexType>
   <xsd:complexType name="CT_TaskFormGroupTask">
     <xsd:sequence>
       <xsd:element name="group" type="CT_BackstageGroup" minOccurs="0" maxOccurs="1000"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Image"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Description"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
   </xsd:complexType>
   <xsd:complexType name="CT_GroupBox">
     <xsd:sequence>
       <xsd:group ref="EG_GroupControls" minOccurs="0" maxOccurs="1000"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attributeGroup ref="AG_Expand"/>
     <xsd:attributeGroup ref="AG_Label"/>
   </xsd:complexType>
   <xsd:simpleType name="ST_align">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="topLeft"/>
       <xsd:enumeration value="top"/>
       <xsd:enumeration value="topRight"/>
       <xsd:enumeration value="left"/>
       <xsd:enumeration value="center"/>
       <xsd:enumeration value="right"/>
       <xsd:enumeration value="bottomLeft"/>
       <xsd:enumeration value="bottom"/>
       <xsd:enumeration value="bottomRight"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_expand1">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="horizontal"/>
       <xsd:enumeration value="vertical"/>
       <xsd:enumeration value="both"/>
       <xsd:enumeration value="neither"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_layoutChildren">
     <xsd:restriction base="xsd:string">
       <xsd:enumeration value="horizontal"/>
       <xsd:enumeration value="vertical"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CT_LayoutContainer">
     <xsd:sequence>
       <xsd:group ref="EG_GroupControls" minOccurs="0" maxOccurs="1000"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDCustom"/>
     <xsd:attribute name="align" use="optional" type="ST_align"/>
     <xsd:attribute name="expand" use="optional" type="ST_expand1"/>
     <xsd:attribute name="layoutChildren" use="optional" type="ST_layoutChildren"/>
   </xsd:complexType>
   <xsd:group name="EG_GroupControls">
     <xsd:choice>
       <xsd:element name="button" type="CT_BackstageGroupButton"/>
       <xsd:element name="checkBox" type="CT_BackstageCheckBox"/>
       <xsd:element name="editBox" type="CT_BackstageEditBox"/>
       <xsd:element name="dropDown" type="CT_BackstageDropDown"/>
       <xsd:element name="radioGroup" type="CT_RadioGroup"/>
       <xsd:element name="comboBox" type="CT_BackstageComboBox"/>
       <xsd:element name="hyperlink" type="CT_Hyperlink"/>
       <xsd:element name="labelControl" type="CT_BackstageLabelControl"/>
       <xsd:element name="groupBox" type="CT_GroupBox"/>
       <xsd:element name="layoutContainer" type="CT_LayoutContainer"/>
       <xsd:element name="imageControl" type="CT_ImageControl"/>
     </xsd:choice>
   </xsd:group>
   <xsd:group name="EG_SimpleGroups">
     <xsd:choice>
       <xsd:element name="group" type="CT_BackstageGroup"/>
       <xsd:element name="taskGroup" type="CT_TaskGroup"/>
     </xsd:choice>
   </xsd:group>
   <xsd:complexType name="CT_BackstageGroups">
     <xsd:choice minOccurs="1" maxOccurs="1">
       <xsd:choice minOccurs="0" maxOccurs="1">
         <xsd:element name="taskFormGroup" type="CT_TaskFormGroup"/>
       </xsd:choice>
       <xsd:choice minOccurs="0" maxOccurs="1000">
         <xsd:group ref="EG_SimpleGroups"/>
       </xsd:choice>
     </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="CT_SimpleGroups">
     <xsd:choice minOccurs="0" maxOccurs="1000">
       <xsd:group ref="EG_SimpleGroups"/>
     </xsd:choice>
   </xsd:complexType>
   <xsd:simpleType name="ST_columnWidthPercent">
     <xsd:restriction base="xsd:positiveInteger">
       <xsd:minInclusive value="1"/>
       <xsd:maxInclusive value="99"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_firstColumnMinWidth">
     <xsd:restriction base="xsd:positiveInteger">
       <xsd:minInclusive value="1"/>
       <xsd:maxInclusive value="10000"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_firstColumnMaxWidth">
     <xsd:restriction base="xsd:positiveInteger">
       <xsd:minInclusive value="1"/>
       <xsd:maxInclusive value="10000"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_secondColumnMinWidth">
     <xsd:restriction base="xsd:positiveInteger">
       <xsd:minInclusive value="1"/>
       <xsd:maxInclusive value="10000"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ST_secondColumnMaxWidth">
     <xsd:restriction base="xsd:positiveInteger">
       <xsd:minInclusive value="1"/>
       <xsd:maxInclusive value="10000"/>
     </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CT_BackstageTab">
     <xsd:sequence>
       <xsd:element name="firstColumn" type="CT_BackstageGroups" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="secondColumn" type="CT_SimpleGroups" minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
     <xsd:attributeGroup ref="AG_IDAttributes"/>
     <xsd:attributeGroup ref="AG_PositionAttributes"/>
     <xsd:attributeGroup ref="AG_Enabled"/>
     <xsd:attributeGroup ref="AG_Label"/>
     <xsd:attributeGroup ref="AG_Visible"/>
     <xsd:attributeGroup ref="AG_Keytip"/>
     <xsd:attributeGroup ref="AG_Title"/>
     <xsd:attribute name="columnWidthPercent" use="optional" type="ST_columnWidthPercent"/>
     <xsd:attribute name="firstColumnMinWidth" use="optional" type="ST_firstColumnMinWidth"/>
     <xsd:attribute name="firstColumnMaxWidth" use="optional" type="ST_firstColumnMaxWidth"/>
     <xsd:attribute name="secondColumnMinWidth" use="optional" type="ST_secondColumnMinWidth"/>
     <xsd:attribute name="secondColumnMaxWidth" use="optional" type="ST_secondColumnMaxWidth"/>
   </xsd:complexType>
   <xsd:complexType name="CT_Backstage">
     <xsd:sequence>
       <xsd:choice minOccurs="0" maxOccurs="255">
         <xsd:element name="tab" type="CT_BackstageTab"/>
         <xsd:element name="button" type="CT_BackstageFastCommandButton"/>
       </xsd:choice>
     </xsd:sequence>
     <xsd:attribute name="onShow" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="onHide" type="ST_Delegate" use="optional"/>
   </xsd:complexType>
   <xsd:complexType name="CT_CustomUI">
     <xsd:sequence>
       <xsd:element name="commands" type="CT_Commands" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="ribbon" type="CT_Ribbon" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="backstage" type="CT_Backstage" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="contextMenus" type="CT_ContextMenus" minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
     <xsd:attribute name="onLoad" type="ST_Delegate" use="optional"/>
     <xsd:attribute name="loadImage" type="ST_Delegate" use="optional"/>
   </xsd:complexType>
   <xsd:element name="customUI" type="CT_CustomUI"/>
 </xsd:schema>